<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <meta charset="UTF-8">
    <title></title>
    <script src="app.js"></script>
    <script src="book_service.js"></script>
    <script src="book_controller.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>

<div ng-controller="BookController as bC">

    <div class="col-sm-12">
        <form ng-submit="bC.submit()" name="myForm" class="col-sm-3">
            <div class="form-group">
                <label class="control-label" for="title">Title:</label>
                <input class="form-control" id="title" type="text" ng-model="bC.book.title">
            </div>
            <div class="form-group">
                <label class="control-label" for="author">Author:</label>
                <input class="form-control" id="author" type="text" ng-model="bC.book.author">
            </div>
            <div class="form-group">
                <input class="btn btn-default" type="submit" value="Add">
            </div>
        </form>
    </div>
    <div class="col-sm-6">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="book in bC.books">
                <td>{{book.author}}</td>
                <td>{{book.title}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
